{% extends "base.html" %}
{% block content %}
<div id="mainNav" class="container-fluid true">
    <div class="row justify-content-center">
        <div class="col col-sm-10 pt-4">
            <section class="section-home">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-8 col-md-6 text-center">
                        {% with messages = get_flashed_messages(category_filter=["log-info"]) %}
                            {% if messages %}
                                {% for message in messages %}
                                <div class="flash-info">
                                    <h2><i class="fas fa-sign-out-alt"></i> {{ message | safe }}</h2>
                                </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col col-sm-10">
                        <div class="row justify-content-center text-center quote">
                            <div class="col-10">
                                <h2>Bilbo</h2>
                                <p>"Can I help you?"</p>
                            </div>
                            <div class="col-12 gandalf">
                                <h2>Gandalf</h2>
                                <p>"That remains to be seen...</p>
                                <p>I'm looking for someone to share in an Adventure!"</p>
                            </div>
                            <div class="col-10">
                                <h2>Bilbo</h2>
                                <p>"Adventure??"</p>
                            </div>
                        </div>
                    </div> 
                    <div class="col-12 quote-borders p-2"></div>
                    <div class="col intro-pitch">
                        <div class="row justify-content-center pitch-wrap">
                            <div class="col-12 col-md-6 ">
                                <h4>HELLO PEOPLE</h4>
                                <h1>If you watch</h1>
                                <p><span class="font-italic"><strong>"The Hobbit: An Unexpected Journey"</strong></span>
                                    you will understand,
                                    if not, we highly recommended to
                                    watch the film or read a book...both rocks!
                                </p>
                                <p>
                                    <strong>Now, on to business!</strong><br>
                                    If you are planing or even
                                    considering moving to Ireland, this is an awesome
                                    starting point for you!
                                </p>
                                <p>
                                    Here you can find some key info when you're planing your
                                    <strong>Irish Adventure...</strong>
                                </p>

                                <p>
                                    If you scroll down, you will see
                                    3 main sections that you need to make this happen nice and smooth...<br>
                                    <strong>Let's roll . . .</strong>
                                </p>
                            </div>
                            <div class="col-12 col-md-6 composition mt-4">
                                <img src="{{ url_for('static', filename='images/galery-01.png')}}" class="comp-photo o" alt="Gallery 01">
                                <img src="{{ url_for('static', filename='images/galery-02.png')}}" class="comp-photo t" alt="Gallery 02">
                                <img src="{{ url_for('static', filename='images/galery-03.png')}}" class="comp-photo te" alt="Gallery 03">
                            </div>
                            <div class="col-8 col-sm-10 col-md-11 col-xl-9 cards-wrap p-0">
                                <div class="wrap">
                                    <div class="card-img">
                                        <img src="{{ url_for('static', filename='images/trip_home_icon.png')}}" class="img-fluid" alt="Trip">
                                    </div>
                                    <h2 class="card-heading text-center">Trip</h2>
                                    <p class="card-text mt-3">
                                        A handy section where you have the most popular web services regarding
                                        booking a plane ticket and some tips and tricks when flying to <strong>Dublin,
                                            Ireland!</strong>
                                    </p>
                                </div>
                                <div class="wrap">
                                    <div class="card-img">
                                        <img src="{{ url_for('static', filename='images/work_home_icon.png')}}" class="img-fluid" alt="Work">
                                    </div>
                                    <h2 class="card-heading text-center">Work</h2>
                                    <p class="card-text mt-3">
                                        It is all about you and how you sell yourself,
                                        plus how to find cool and possible free online courses,
                                        for personal <strong>growth and development!</strong>
                                    </p>
                                </div>
                                <div class="wrap">
                                    <div class="card-img">
                                        <img src="{{ url_for('static', filename='images/life_home_icon.png')}}" class="img-fluid" alt="Life">
                                    </div>
                                    <h2 class="card-heading text-center">Life</h2>
                                    <p class="card-text mt-3">
                                        Well, now we are living in a <strong>"strange"</strong> time regarding social
                                        gatherings.
                                        As soon this is over you can hit all "hot" spots around Ireland and Dublin!
                                    </p>
                                </div>
                                <div class="wrap">
                                    <div class="card-img">
                                        <img src="{{ url_for('static', filename='images/news_home_icon.png')}}" class="img-fluid" alt="News">
                                    </div>
                                    <h2 class="card-heading text-center">News</h2>
                                    <p class="card-text mt-3">
                                        Receive our news and updates on a regular basis regarding jobs,
                                        business events, lifestyle, etc.
                                        Maybe you have an idea for the site section...<strong>we are
                                            listening?!</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}