{% extends "base.html" %}
{% block content %}
<div id="mainNav" class="container-fluid true">
    <div class="row justify-content-center p-4">
        <div class="col">
            <section class="section-home">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-6 text-left">
                                <div class="row justify-content-center p-0 m-0 ">
                                    <div class="col-12 col-sm-10 col-md-10">
                                        {% with messages = get_flashed_messages(category_filter=["reg-success"]) %}
                                            {% if messages %}
                                                {% for message in messages %}
                                                <div class="flash-success text-center">
                                                    <h2><i class="fas fa-child"></i> {{ message | safe }}</h2>
                                                </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endwith %}
                                    </div> 
                                </div>
                                <h2 class="profile-info">Profile Info</h2>
                                <div class="row justify-content-center">
                                    <div class="col-10 col-md-10 p-0 m-0">
                                        <div class="row justify-content-start profile-details-wrap">
                                            <div class="col-12">
                                                <div class="profile-details text-left">
                                                    <i class="fas fa-user-alt"></i>
                                                    <h3 >Username: <span class="username">{{ username }}</span></h3>
                                                </div>
                                            </div>
                                            <div class="col-12 text-left">
                                                <div class="profile-details">
                                                    <i class="far fa-paper-plane"></i>
                                                    <h3>Email: <span class="email">{{ email }}</span></h3>
                                                </div>
                                            </div>
                                            <div class="col-12 text-left">
                                                <div class="profile-details">
                                                    <i class="far fa-calendar-alt"></i>
                                                    <h3 >Joined: <span class="email">{{ date_created.strftime("%d %b, %Y") }}</span></h3>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-1">
                                                <div class="row justify-content-center footer-line">
                                                    <div class="col-4 l"></div>
                                                    <div class="col-2 g"></div>
                                                    <div class="col-4 l"></div>
                                                </div>
                                            </div>
                                            <div class="col-12 delete-profile-wrap text-center">
                                                <h2>Delete your profile!</h2>
                                                <a href="#" class="delete-btn" data-toggle="modal" data-target="#delete-profile" >DELETE</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 box-wrap d-none d-md-block">
                                <div class="cards-wrap-reg">
                                    <div class="wrap grid-item-1 p-0 m-0">
                                        <div class="flip-card-inner-wrap  card-hover-1">
                                            <div class="front-card">
                                                <h2 class="card-heading text-center">Trip</h2>
                                                <div class="card-img">
                                                    <img src="{{ url_for('static', filename='images/trip_home_icon.png')}}" class="img-fluid" alt="Trip">
                                                </div>
                                            </div>
                                            <div class="back-card">
                                                <h2 class="card-heading text-center">Trip</h2>
                                                <p class="card-text">
                                                    A handy section where you have the most popular web services regarding
                                                    booking a plane ticket and some tips and tricks when flying to <strong>Dublin,Ireland!</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap grid-item-2">
                                        <div class="flip-card-inner-wrap card-hover-2">
                                            <div class="front-card">
                                                <h2 class="card-heading text-center">Work</h2>
                                                <div class="card-img">
                                                    <img src="{{ url_for('static', filename='images/work_home_icon.png')}}" class="img-fluid" alt="Work">
                                                </div>
                                            </div>
                                            <div class="back-card">
                                                <h2 class="card-heading text-center">Work</h2>
                                                <p class="card-text">
                                                    It is all about you and how you sell yourself,
                                                    plus how to find cool and possible free online courses,
                                                    for personal <strong>growth and development!</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap grid-item-3">
                                        <div class="flip-card-inner-wrap card-hover-3">
                                            <div class="front-card">
                                                <h2 class="card-heading text-center">Life</h2>
                                                <div class="card-img">
                                                    <img src="{{ url_for('static', filename='images/life_home_icon.png')}}" class="img-fluid" alt="Life">
                                                </div>
                                            </div>
                                            <div class="back-card">
                                                <h2 class="card-heading text-center">Life</h2>
                                                <p class="card-text">
                                                    Well, now we are living in a <strong>"strange"</strong> time regarding social gatherings.
                                                    As soon this is over you can hit all "hot" spots around Ireland and Dublin!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap grid-item-4">
                                        <div class="flip-card-inner-wrap card-hover-4">
                                            <div class="front-card">
                                                <h2 class="card-heading text-center">News</h2>
                                                <div class="card-img">
                                                    <img src="{{ url_for('static', filename='images/news_home_icon.png')}}" class="img-fluid" alt="News">
                                                </div>
                                            </div>
                                            <div class="back-card">
                                                <h2 class="card-heading text-center">News</h2>
                                                <p class="card-text">
                                                    Receive our news and updates on a regular basis regarding jobs,
                                                    business events, lifestyle, etc.
                                                    You have an idea for the site section...<strong>we are listening?!</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row quote-borders p-2 mtt"></div>
                    </div>
                    <div class="col-12 col-sm-10 intro-pitch">
                        <div class="row justify-content-center pitch-wrap">
                            <div class="col-12 col-lg-6 ">
                                <h4>HELLO PEOPLE</h4>
                                <h1>If you watch</h1>
                                <p><span class="font-italic"><strong>"The Hobbit: An Unexpected Journey"</strong></span>
                                    you will understand,
                                    if not, we highly recommended to
                                    watch the film or read a book...both rocks!
                                </p>
                                <p>
                                    <strong>Now, on to business!</strong><br>
                                    If you are planing or even
                                    considering moving to Ireland, this is an awesome
                                    starting point for you!
                                </p>
                                <p>
                                    Here you can find some key info when you're planing your
                                    <strong>Irish Adventure...</strong>
                                </p>
                                <p>
                                    If you scroll down, you will see
                                    3 main sections that you need to make this happen nice and smooth...<br>
                                    <strong>Let's roll . . .</strong>
                                </p>
                            </div>
                            <div class="col-12 col-lg-6 composition mt-4">
                                <img src="{{ url_for('static', filename='images/galery-01.png')}}" class="comp-photo o" alt="Gallery 01">
                                <img src="{{ url_for('static', filename='images/galery-02.png')}}" class="comp-photo t" alt="Gallery 02">
                                <img src="{{ url_for('static', filename='images/galery-03.png')}}" class="comp-photo te" alt="Gallery 03">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="modal fade" id="delete-profile" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="delete-profile" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content delete-profile-modal">    
            <div class="modal-body">
                <div class="container-fluid p-0">
                    <div class="row justify-content-center text-center">
                        <div class="col-12 col-sm-8">
                            <h2>Are you sure you want to delete your profile</h2>
                            <a class="delete-btn" href="{{ url_for('delete_user', username=session.user) }}">YES</a>
                            <a href="#" class="no-btn" data-dismiss="modal">NO</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}