{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center p-4">
        <div class="col">
            <section class="section-life">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10 search-result-wrap">
                        <h2 class="text-center">Your search result...</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-8">
                        <div class="search-result-wrap text-center">
                            <a href="{{ url_for('tips') }}" class="again-btn">RESET</a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row justify-content-center footer-line">
                            <div class="col-4 l"></div>
                            <div class="col-2 g"></div>
                            <div class="col-4 l"></div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                        {% if tips|length > 0 %}
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="row justify-content-between">
                                        <div class="col-12 col-md-5 text-center">
                                            <h2 class="sub-tips-h2">TRIP</h2>
                                            <div class="row justify-content-center">
                                                <div class="col-12">
                                                    {% for tip in tips %}
                                                        {% if tip.tip_category == "Trip" %}
                                                            <div class="row justify-content-center mb-4 bg-info">
                                                                <div class="col-12 tips-card-wrap">
                                                                    <div class="row justify-content-center head-wrap p-0">
                                                                        <div class="col-9 profile-img p-0">
                                                                            <img src="{{ url_for('static', filename='images/Logo.png')}}" 
                                                                                width="55" alt="Logo">
                                                                            <h3>{{ tip.created_by }}</h3>
                                                                        </div>
                                                                        <div class="col-3 wrap p-0">
                                                                            <img src="{{ url_for('static', filename='images/public_transport_icon.png')}}" 
                                                                                class="img-fluid" width="35" alt="Trip">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row justify-content-center footer-line border-card-wrap">
                                                                        <div class="col-4 l"></div>
                                                                        <div class="col-4 g"></div>
                                                                        <div class="col-4 l"></div>
                                                                    </div>
                                                                    <div class="row justify-content-between content-wrap">
                                                                        <div class="col-8 p-0 text-left">
                                                                            <h3>{{ tip.tip_title }}</h3>
                                                                        </div>
                                                                        <div class="col-4 p-0 text-right">
                                                                            <h4>{{ tip.date_added.strftime("%d %b, %Y") }}</h4>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row justify-content-between post">
                                                                        <div class="col-12 p-0 text-left ">
                                                                            <p>{{ tip.tip_description }}</p>
                                                                        </div>
                                                                    </div>
                                                                    {% if session.user|lower == tip.created_by|lower %}
                                                                        <div class="row justify-content-start post-btn-wrap">
                                                                            <div class="col-12 text-left ">
                                                                                <a class="update-btn" href="{{ url_for('update_tip', tip_id=tip._id) }}">UPDATE</a>
                                                                                <a class="delete-btn" href="#" data-toggle="modal" data-target="#delete-trip" >DELETE</a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal fade" id="delete-trip" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="delete-trip" aria-hidden="true">
                                                                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                                                                <div class="modal-content delete-profile-modal">    
                                                                                    <div class="modal-body">
                                                                                        <div class="container-fluid p-0">
                                                                                            <div class="row justify-content-center text-center">
                                                                                                <div class="col-12 ">
                                                                                                    <h2>Are you sure you want to delete your tip?</h2>
                                                                                                    <a class="delete-btn" href="{{ url_for('delete_tip', tip_id=tip._id) }}">YES</a>
                                                                                                    <a href="#" class="no-btn" data-dismiss="modal">NO</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-1 ver-border-wrap text-center">
                                            <div class="vertical-border-div p-2"></div>
                                        </div>
                                        <div class="col-12 d-md-none mt-3 mb-2">
                                            <div class="row justify-content-center footer-line">
                                                <div class="col-4 l"></div>
                                                <div class="col-2 g"></div>
                                                <div class="col-4 l"></div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-5 text-center">
                                            <h2 class="sub-tips-h2">WORK</h2>
                                            <div class="row justify-content-center">
                                                <div class="col-12">
                                                    {% for tip in tips %}
                                                        {% if tip.tip_category == "Work" %}
                                                            <div class="row justify-content-center mb-4 bg-info">
                                                                <div class="col-12 tips-card-wrap">
                                                                    <div class="row justify-content-center head-wrap p-0">
                                                                        <div class="col-9 profile-img p-0">
                                                                            <img src="{{ url_for('static', filename='images/Logo.png')}}" 
                                                                                width="55" alt="Logo">
                                                                            <h3>{{ tip.created_by }}</h3>
                                                                        </div>
                                                                        <div class="col-3 wrap p-0">
                                                                            <img src="{{ url_for('static', filename='images/work_tip_icon.png')}}" 
                                                                                class="img-fluid" width="35" alt="Work">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row justify-content-center footer-line border-card-wrap">
                                                                        <div class="col-4 l"></div>
                                                                        <div class="col-4 g"></div>
                                                                        <div class="col-4 l"></div>
                                                                    </div>                       
                                                                    <div class="row justify-content-between content-wrap">
                                                                        <div class="col-8 p-0 text-left">
                                                                            <h3>{{ tip.tip_title }}</h3>
                                                                        </div>
                                                                        <div class="col-4 p-0 text-right">
                                                                            <h4>{{ tip.date_added.strftime("%d %b, %Y") }}</h4>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row justify-content-between post">
                                                                        <div class="col-12 p-0 text-left">
                                                                            <p>{{ tip.tip_description }}</p>
                                                                        </div>
                                                                    </div>
                                                                    {% if session.user|lower == tip.created_by|lower %}
                                                                        <div class="row justify-content-start post-btn-wrap">
                                                                            <div class="col-12 text-left ">
                                                                                <a class="update-btn" href="{{ url_for('update_tip', tip_id=tip._id) }}">UPDATE</a>
                                                                                <a href="#" class="delete-btn" data-toggle="modal" data-target="#delete-work" >DELETE</a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal fade" id="delete-work" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="delete-work" aria-hidden="true">
                                                                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                                                                <div class="modal-content delete-profile-modal">    
                                                                                    <div class="modal-body">
                                                                                        <div class="container-fluid p-0">
                                                                                            <div class="row justify-content-center text-center">
                                                                                                <div class="col-12 ">
                                                                                                    <h2>Are you sure you want to delete your tip?</h2>
                                                                                                    <a class="delete-btn" href="{{ url_for('delete_tip', tip_id=tip._id) }}">YES</a>
                                                                                                    <a href="#" class="no-btn" data-dismiss="modal">NO</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-none d-md-block">
                                        <div class="col-12">
                                            <div class="row justify-content-between">
                                                <div class="col-5 p-2 sub-section-border"></div>
                                                <div class="col-5 p-2 sub-section-border"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row justify-content-between">
                                        <div class="col-12 d-md-none mt-3 mb-2">
                                            <div class="row justify-content-center footer-line">
                                                <div class="col-4 l"></div>
                                                <div class="col-2 g"></div>
                                                <div class="col-4 l"></div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-5 text-center">
                                            <h2 class="sub-tips-h2">STUDY</h2>
                                            <div class="row justify-content-center">
                                                <div class="col-12">
                                                    {% for tip in tips %}
                                                        {% if tip.tip_category == "Study" %}
                                                            <div class="row justify-content-center mb-4 bg-info">
                                                                <div class="col-12 tips-card-wrap">
                                                                    <div class="row justify-content-center head-wrap p-0">
                                                                        <div class="col-9 profile-img p-0">
                                                                            <img src="{{ url_for('static', filename='images/Logo.png')}}" width="55" alt="Logo">
                                                                            <h3>{{ tip.created_by }}</h3>
                                                                        </div>
                                                                        <div class="col-3 wrap p-0">
                                                                            <img src="{{ url_for('static', filename='images/study_tip_icon.png')}}" 
                                                                                class="img-fluid" width="35" alt="Study">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row justify-content-center footer-line border-card-wrap">
                                                                        <div class="col-4 l"></div>
                                                                        <div class="col-4 g"></div>
                                                                        <div class="col-4 l"></div>
                                                                    </div>                                                              
                                                                    <div class="row justify-content-between content-wrap">
                                                                        <div class="col-8 p-0 text-left">
                                                                            <h3>{{ tip.tip_title }}</h3>
                                                                        </div>
                                                                        <div class="col-4 p-0 text-right">
                                                                            <h4>{{ tip.date_added.strftime("%d %b, %Y") }}</h4>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row justify-content-between post">
                                                                        <div class="col-12 p-0 text-left">
                                                                            <p>{{ tip.tip_description }}</p>
                                                                        </div>
                                                                    </div>
                                                                    {% if session.user|lower == tip.created_by|lower %}
                                                                        <div class="row justify-content-start post-btn-wrap">
                                                                            <div class="col-12 text-left ">
                                                                                <a class="update-btn" href="{{ url_for('update_tip', tip_id=tip._id) }}">UPDATE</a>
                                                                                <a href="#" class="delete-btn" data-toggle="modal" data-target="#delete-study" >DELETE</a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal fade" id="delete-study" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="delete-study" aria-hidden="true">
                                                                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                                                                <div class="modal-content delete-profile-modal">    
                                                                                    <div class="modal-body">
                                                                                        <div class="container-fluid p-0">
                                                                                            <div class="row justify-content-center text-center">
                                                                                                <div class="col-12 ">
                                                                                                    <h2>Are you sure you want to delete your tip?</h2>
                                                                                                    <a class="delete-btn" href="{{ url_for('delete_tip', tip_id=tip._id) }}">YES</a>
                                                                                                    <a href="#" class="no-btn" data-dismiss="modal">NO</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-1 ver-border-wrap text-center">
                                            <div class="vertical-border-div p-2"></div>
                                        </div>
                                        <div class="col-12 d-md-none mt-3 mb-2">
                                            <div class="row justify-content-center footer-line">
                                                <div class="col-4 l"></div>
                                                <div class="col-2 g"></div>
                                                <div class="col-4 l"></div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-5 text-center">
                                            <h2 class="sub-tips-h2">FOOD</h2>
                                            <div class="row justify-content-center">
                                                <div class="col-12">
                                                    {% for tip in tips %}
                                                        {% if tip.tip_category == "Food" %}
                                                            <div class="row justify-content-center mb-4 bg-info">
                                                                <div class="col-12 tips-card-wrap">
                                                                    <div class="row justify-content-center head-wrap p-0">
                                                                        <div class="col-9 profile-img p-0">
                                                                            <img src="{{ url_for('static', filename='images/Logo.png')}}" width="55" alt="Logo">
                                                                            <h3>{{ tip.created_by }}</h3>
                                                                        </div>
                                                                        <div class="col-3 wrap p-0">
                                                                            <img src="{{ url_for('static', filename='images/food_tip_icon.png')}}" class="img-fluid" width="35" alt="Food">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row justify-content-center footer-line border-card-wrap">
                                                                        <div class="col-4 l"></div>
                                                                        <div class="col-4 g"></div>
                                                                        <div class="col-4 l"></div>
                                                                    </div>
                                                                    <div class="row justify-content-between content-wrap">
                                                                        <div class="col-8 p-0 text-left">
                                                                            <h3>{{ tip.tip_title }}</h3>
                                                                        </div>
                                                                        <div class="col-4 p-0 text-right">
                                                                            <h4>{{ tip.date_added.strftime("%d %b, %Y") }}</h4>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row justify-content-between post">
                                                                        <div class="col-12 p-0 text-left ">
                                                                            <p>{{ tip.tip_description }}</p>
                                                                        </div>
                                                                    </div>
                                                                    {% if session.user|lower == tip.created_by|lower %}
                                                                        <div class="row justify-content-start post-btn-wrap">
                                                                            <div class="col-12 text-left ">
                                                                                <a class="update-btn" href="{{ url_for('update_tip', tip_id=tip._id) }}">UPDATE</a>
                                                                                <a href="#" class="delete-btn" data-toggle="modal" data-target="#delete-food" >DELETE</a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal fade" id="delete-food" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="delete-food" aria-hidden="true">
                                                                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                                                                <div class="modal-content delete-profile-modal">    
                                                                                    <div class="modal-body">
                                                                                        <div class="container-fluid p-0">
                                                                                            <div class="row justify-content-center text-center">
                                                                                                <div class="col-12 ">
                                                                                                    <h2>Are you sure you want to delete your tip?</h2>
                                                                                                    <a class="delete-btn" href="{{ url_for('delete_tip', tip_id=tip._id) }}">YES</a>
                                                                                                    <a href="#" class="no-btn" data-dismiss="modal">NO</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="row justify-content-center">
                                <div class="col-12 col-sm-8 col-lg-4">
                                    <div class="serch-tips-wrap text-center">
                                        <h2 class="no-results"><i class="fas fa-exclamation-triangle"></i> No result found!</h2>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}