{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center p-4">
        <div class="col">
            <section class="section-life">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-6">
                                <h1>WORK</h1>
                                <div class="intro-life">
                                    <p><strong>Looking for a job!?</strong></p>
                                    <p>
                                        Finding work in Ireland can be difficult but with the correct preparation,
                                        planning, professional formatted <a href="{{ url_for('static', filename='downloads/Tomislav_Sokac_CV.pdf')}}" target="_blank">CV</a>,
                                        and <a href="https://www.linkedin.com/in/tomislav-sokac2" target="_blank">LinkedIn</a>
                                        profile this task can be a lot easier.
                                    </p>
                                    <p>
                                        As with most countries, most jobs can be found in major cities so if you are
                                        living in Dublin,
                                        Galway, or Cork there is more chance of finding your next role, but since recent
                                        <strong>"situation"</strong> work from home is always a nice option.
                                    </p>
                                    <p>
                                        Everything is on the internet these days so we take the same approach to help
                                        you land your <strong>first/next</strong> job on Irish ground.
                                    </p>
                                    <p><strong>So put up that beautiful smile of yours and let's hunt...</strong></p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 p-4">
                                <div id="my-carousel" class="carousel slide carousel-fade" data-ride="carousel"
                                    data-interval="2000">
                                    <div class="carousel-inner gal-img">
                                        <div class="carousel-item active">
                                            <img class="d-block img-fluid" src="{{ url_for('static', filename='images/work-gal-01.png')}}" alt="First slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="{{ url_for('static', filename='images/work-gal-02.png')}}" alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="{{ url_for('static', filename='images/work-gal-03.png')}}" alt="Third slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="{{ url_for('static', filename='images/work-gal-04.png')}}" alt="Four slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="{{ url_for('static', filename='images/work-gal-05.png')}}" alt="Fifth slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="{{ url_for('static', filename='images/work-gal-06.png')}}" alt="Sixth slide">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <h2 class="sub-h2">START HERE</h2>
                    </div>
                    <div class="col-12 col-lg-10 cards-wrap p-0">
                        <div id="Card1" class="wrap">
                            <a class="card-link-fav irishjobs_fav" href="https://www.irishjobs.ie/"
                                target="_blank"><strong>Irishjobs.ie</strong></a>
                            <div class="card-img">
                                <img src="{{ url_for('static', filename='images/irishjobs.png')}}" class="img-fluid" alt="IrishJobs">
                            </div>
                            <button id="showLinks1" class="load-links-btn">Quick Links...<i class="fas fa-sort-down"></i></button>
                            <p class="card-text">
                                IrishJobs.ie, Ireland's No. 1 recruitment website, has been bringing career seekers and
                                recruiters together since 1995.
                                Trusted by over 1000 businesses in Ireland.
                            </p>
                            <div class="showLinks1-grid hideLinks1-grid text-center">
                                <div class="q-links-wrap">
                                    <a href="https://www.irishjobs.ie/" target="_blank" class="q-links a">BROWSE</a>
                                    <a href="https://www.irishjobs.ie/careeradvice/" target="_blank" class="q-links a">ADVICE</a>
                                    <a href="https://www.irishjobs.ie/login" target="_blank" class="q-links">ACCOUNT</a>
                                    <a href="https://www.irishjobs.ie/company-reviews" target="_blank" class="q-links">REVIEWS</a>
                                </div>
                                <button id="hideLinks1" class="hideLinks-btn"><i class="far fa-times-circle"></i></button>
                            </div>
                        </div>
                        <div id="Card2" class="wrap">
                            <a class="card-link-fav indeed_fav" href="https://ie.indeed.com/" target="_blank"><strong>Indeed.ie</strong></a>
                            <div class="card-img">
                                <img src="{{ url_for('static', filename='images/indeed.png')}}" class="img-fluid" alt="Indeed">
                            </div>
                            <button id="showLinks2" class="load-links-btn">Quick Links...<i class="fas fa-sort-down"></i></button>
                            <p class="card-text">
                                Indeed is the #1 job site in the world1 with over 250 million unique visitors2 every
                                month.
                                Indeed strives to put jobseekers first, giving them free access to search for jobs, post
                                CVs, and research companies.
                            </p>
                            <div class="showLinks2-grid hideLinks2-grid text-center">
                                <div class="q-links-wrap">
                                    <a href="https://ie.indeed.com/?from=gnav-homepage" class="q-links a" target="_blank">FIND JOB</a>
                                    <a href="https://ie.indeed.com/companies" class="q-links a" target="_blank">COMPANIES</a>
                                    <a href="https://ie.indeed.com/salaries?from=gnav-acme--discovery-webapp" class="q-links a"target="_blank">SALARIES</a>
                                    <a href="https://ie.indeed.com/companies?from=gnav-homepage" class="q-links a" target="_blank">REVIEWS</a>
                                </div>
                                <button id="hideLinks2" class="hideLinks-btn"><i class="far fa-times-circle"></i></button>
                            </div>
                        </div>
                        <div id="Card3" class="wrap">
                            <a class="card-link-fav monster_fav" href="https://www.monster.com/"
                                target="_blank"><strong>Monster.com</strong></a>
                            <div class="card-img">
                                <img src="{{ url_for('static', filename='images/monster.png')}}" class="img-fluid" alt="MyHome">
                            </div>
                            <button id="showLinks3" class="load-links-btn">Quick Links...<i class="fas fa-sort-down"></i></button>
                            <p class="card-text">
                                Monster is a global leader in connecting people and jobs. Every day,
                                Monster aims to make every workplace happier and more productive by transforming the way
                                employers and candidates find the right fit.
                            </p>
                            <div class="showLinks3-grid hideLinks3-grid text-center">
                                <div class="q-links-wrap">
                                    <a href="https://www.monster.ie/jobs/?intcid=swoop_TopNav_Find_Jobs_Browse_Jobs" class="q-links a" target="_blank">FIND JOB</a>
                                    <a href="https://www.monster.ie/cv/post-resume?landedFrom=Header" class="q-links a" target="_blank">CV</a>
                                    <a href="https://www.monster.ie/career-advice" class="q-links a" target="_blank">ADVICE</a>
                                    <a href="https://www.monster.ie/company/?intcid=swoop_Footer_Company_Profile" class="q-links a" target="_blank">TOP COMPANIES</a>
                                </div>
                                <button id="hideLinks3" class="hideLinks-btn"><i class="far fa-times-circle"></i></button>
                            </div>
                        </div>
                        <div id="Card4" class="wrap">
                            <a class="card-link-fav careerjet_fav" href="https://www.careerjet.ie/" target="_blank"><strong>Careerjet.ie</strong></a>
                            <div class="card-img">
                                <img src="{{ url_for('static', filename='images/careerjet.png')}}" class="img-fluid" alt="CareerJet">
                            </div>
                            <button id="showLinks4" class="load-links-btn">Quick Links...<i class="fas fa-sort-down"></i></button>
                            <p class="card-text">
                                Careerjet is a job search engine designed to make the process of finding a job on the
                                internet easier for the user.
                                It maps the huge selection of job offerings available on the internet in one extensive
                                database.
                            </p>
                            <div class="showLinks4-grid hideLinks4-grid text-center">
                                <div class="q-links-wrap">
                                    <a href="https://www.careerjet.ie/" class="q-links a" target="_blank">SERCH JOBS</a>
                                    <a href="https://www.careerjet.ie/post-cv" class="q-links a" target="_blank">POST CV</a>
                                    <a href="https://www.careerjet.ie/partners/" class="q-links a" target="_blank">PARTNERS</a>
                                    <a href="https://www.careerjet.ie/locations/" class="q-links a" target="_blank">LOCATIONS</a>
                                </div>
                                <button id="hideLinks4" class="hideLinks-btn"><i class="far fa-times-circle"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10 p-2 sub-section-border"></div>
                    <div class="col-12 col-lg-10">
                        <div class="row justify-content-center cv-tips">
                            <div class="col-12 col-md-6">
                                <h1>UPGRADE</h1>
                                <div class="intro-life">
                                    <p><strong>"Your mission should you choose to accept it is..."</strong></p>
                                    <p>
                                        well, you know the rest, but did you knew you can take some
                                        cool and very valuable online education and earn yourself a fresh diploma or
                                        certificate.
                                    </p>
                                    <p>
                                        The beauty of the courses that we present here is fully online and in your own
                                        time and pace.
                                    </p>
                                    <p><strong>1% Talent + 99% Hard Work = 100% Success Formula - TRUE STORY!!</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 p-4">
                                <div id="my-carousel-upgrade" class="carousel slide carousel-fade" data-ride="carousel"
                                    data-interval="2000">
                                    <div class="carousel-inner gal-img">
                                        <div class="carousel-item active">
                                            <img class="d-block img-fluid" src="{{ url_for('static', filename='images/cv-gal-01.png')}}" alt="First slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="{{ url_for('static', filename='images/cv-gal-02.png')}}" alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="{{ url_for('static', filename='images/cv-gal-03.png')}}" alt="Third slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="{{ url_for('static', filename='images/cv-gal-04.png')}}" alt="Four slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="{{ url_for('static', filename='images/cv-gal-05.png')}}" alt="Fifth slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="{{ url_for('static', filename='images/cv-gal-06.png')}}" alt="Sixth slide">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <h2 class="sub-h2">BACK TO SCHOOL</h2>
                    </div>
                    <div class="col-12 col-lg-10 cards-wrap p-0">
                        <div id="Card9" class="wrap">
                            <a class="card-link-fav code_fav" href="https://codeinstitute.net" target="_blank"><strong>CodeInstitute.net</strong></a>
                            <div class="card-img">
                                <img src="{{ url_for('static', filename='images/code.png')}}" class="img-fluid" alt="Code Institute">
                            </div>
                            <button id="showLinks9" class="load-links-btn">Quick Links...<i class="fas fa-sort-down"></i></button>
                            <p class="card-text">
                                We’re changing lives and careers by delivering online,
                                accelerated coding courses that are University Credit rated and Jobs focused, enhanced
                                by technology but delivered by people.
                            </p>
                            <div class="showLinks9-grid hideLinks9-grid text-center">
                                <div class="q-links-wrap">
                                    <a href="https://codeinstitute.net/full-stack-software-development-diploma/" target="_blank" class="q-links a">COURSE</a>
                                    <a href="https://codeinstitute.net/enterprise/" target="_blank" class="q-links a">PARTNERS</a>
                                    <a href="https://codeinstitute.net/reviews/" target="_blank" class="q-links a">REVIEWS</a>
                                    <a href="https://codeinstitute.net/student-careers/" target="_blank" class="q-links a">STUDENT CAREERS</a>
                                </div>
                                <button id="hideLinks9" class="hideLinks-btn"><i class="far fa-times-circle"></i></button>
                            </div>
                        </div>
                        <div id="Card10" class="wrap">
                            <a class="card-link-fav udemy_fav" href="https://www.udemy.com" target="_blank"><strong>Udemy.com</strong></a>
                            <div class="card-img">
                                <img src="{{ url_for('static', filename='images/udemy.png')}}" class="img-fluid" alt="Udemy">
                            </div>
                            <button id="showLinks10" class="load-links-btn">Quick Links...<i class="fas fa-sort-down"></i></button>
                            <p class="card-text">
                                The leading global marketplace for learning and instruction.
                                By connecting students all over the world to the best instructors,
                                Udemy is helping individuals reach their goals and pursue their dreams.
                            </p>
                            <div class="showLinks10-grid hideLinks10-grid text-center">
                                <div class="q-links-wrap">
                                    <a href="https://www.udemy.com/" class="q-links a" target="_blank">CATEGORIES</a>
                                    <a href="https://about.udemy.com/careers/" class="q-links a" target="_blank">CAREERS</a>
                                    <a href="https://about.udemy.com/blog/" class="q-links" target="_blank">BLOG</a>
                                    <a href="https://about.udemy.com/company/" class="q-links" target="_blank">COMPANY</a>
                                </div>
                                <button id="hideLinks10" class="hideLinks-btn"><i class="far fa-times-circle"></i></button>
                            </div>
                        </div>
                        <div id="Card11" class="wrap">
                            <a class="card-link-fav spring_fav" href="https://springboardcourses.ie/" target="_blank"><strong>SpringboardCourses.ie</strong></a>
                            <div class="card-img">
                                <img src="{{ url_for('static', filename='images/spring.png')}}" class="img-fluid" alt="SpringBoard">
                            </div>
                            <button id="showLinks11" class="load-links-btn">Quick Links...<i class="fas fa-sort-down"></i></button>
                            <p class="card-text">
                                The Springboard+ upskilling initiative in higher education offers free and subsidised
                                courses at certificate,
                                degree and masters level leading to qualifications in areas where there are employment
                                opportunities in the economy.
                            </p>
                            <div class="showLinks11-grid hideLinks11-grid text-center">
                                <div class="q-links-wrap">
                                    <a href="https://springboardcourses.ie/search" class="q-links a" target="_blank">SEARCH COURSE</a>
                                    <a href="https://springboardcourses.ie/howToApply" class="q-links a" target="_blank">HOW TO APPLY</a>
                                    <a href="https://springboardcourses.ie/reports" class="q-links" target="_blank">REPORTS</a>
                                    <a href="https://springboardcourses.ie/contactUs" class="q-links" target="_blank">CONTACT</a>
                                </div>
                                <button id="hideLinks11" class="hideLinks-btn"><i class="far fa-times-circle"></i></button>
                            </div>
                        </div>
                        <div id="Card12" class="wrap">
                            <a class="card-link-fav courses_fav" href="https://www.courses.ie/" target="_blank"><strong>Courses.ie</strong></a>
                            <div class="card-img">
                                <img src="{{ url_for('static', filename='images/courses.png')}}" class="img-fluid" alt="Courses">
                            </div>
                            <button id="showLinks12" class="load-links-btn">Quick Links...<i class="fas fa-sort-down"></i></button>
                            <p class="card-text">
                                Are you looking to retrain in your career or take up a new hobby?
                                Courses.ie is a national database of training courses across Ireland.
                            </p>
                            <div class="showLinks12-grid hideLinks12-grid text-center">
                                <div class="q-links-wrap">
                                    <a href="https://www.courses.ie/course-search/" class="q-links a" target="_blank">FIND COURSES</a>
                                    <a href="https://www.courses.ie/articles/" class="q-links a" target="_blank">ARTICLES</a>
                                    <a href="https://www.courses.ie/blog/" class="q-links" target="_blank">NEWS</a>
                                    <a href="https://www.courses.ie/colleges/" class="q-links" target="_blank">COLEGUES</a>
                                </div>
                                <button id="hideLinks12" class="hideLinks-btn"><i class="far fa-times-circle"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}